.result {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 1.2rem;
}

.row {
  display: flex;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border: solid 0.5px #ddd;
  font-size: 0.8rem;
  width: 5rem;
}

.key:hover {
  cursor: pointer;
}

.key:last-child {
  /* do something here */
}

.zero {
  flex: 2;
}

.yellow {
  background-color: rgb(250, 158, 29);
}
